<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/CerberusTheme.css" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <div class="container">
            <a class="navbar-brand text-white align-items-center align-self-center justify-content-center flex-column" href="#">
                <img src="resources/04_global_business-512.png" class="d-inline-block align-top p-1" alt="" height="30" width="30">Task&nbsp;Chatbot Connector
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Chatbots
                            <br>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jira</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Sistema
                            <br>
                        </a>
                    </li>
                </ul>
                <a class="btn navbar-btn btn-primary ml-2 text-white">
                    <i class="fa d-inline fa-lg fa-user-circle-o"></i>Login
                    <br>
                </a>
            </div>
        </div>
    </nav>
    <div class="text-center bg-light py-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-3">
                    <h1 class="pb-3 text-secondary">Bem-vindo, usuário!</h1>
                    <p class="lead">Acesse através das opções abaixo as principais configurações disponíveis no sistema TCC.</p>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-md-6">
                    <div class="row my-5">
                        <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-3x fa-comments-o"></i></div>
                        <div class="col-10 text-lg-right text-left order-lg-1">
                            <h4 class="text-primary">Chatbots</h4>
                            <p>Adicione, edite e exclua chatbots do sistema.</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-4x fa-bitbucket"></i></div>
                        <div class="col-10 text-lg-right text-left order-lg-1">
                            <h4 class="text-primary">Configurações de instância Jira</h4>
                            <p>Defina as principais opções para conectar o TCC a uma instância Atlassian Jira.</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa  fa-3x fa-list-alt"></i></div>
                        <div class="col-10 text-lg-right text-left order-lg-1">
                            <h4 class="text-primary">Logs de Sistema</h4>
                            <p>Verifique as atividades realizadas por chatbots e mensagens de erros em geral.</p>
                        </div>
                    </div>
                </div>
                <div class="text-left col-md-6">
                    <div class="row my-5">
                        <div class="col-2 text-center"><i class="d-block fa fa-3x fa-users"></i></div>
                        <div class="col-10">
                            <h4 class="text-primary">
                                Gerenciamento de Usuários
                                <br>
                            </h4>
                            <p>Controle o acesso de usuários ao sistema.</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 text-center"><i class="d-block mx-auto fa  fa-3x fa-facebook-official"></i></div>
                        <div class="col-10">
                            <h4 class="text-primary">Configurações de páginas</h4>
                            <p>Adicione, edite ou exclua tokens de páginas do Facebook, bem como gerencie webhooks do sistema.</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 text-center"><i class="d-block fa  fa-heart-o fa-3x"></i></div>
                        <div class="col-10">
                            <h4 class="text-primary">Sobre este projeto</h4>
                            <p>Conheça mais sobre o TCC e seu criador!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white p-0">
        <div class="container">
            <div class="row">
                <div class="p-4 col-md-4">
                    <h2 class="mb-4 text-secondary">Pingendo</h2>
                    <p class="text-white">A company for whatever you may need, from website prototyping to publishing</p>
                </div>
                <div class="p-4 col-md-4">
                    <h2 class="mb-4 text-secondary">Mapsite</h2>
                    <ul class="list-unstyled">
                        <a href="#" class="text-white">Home</a>
                        <br>
                        <a href="#" class="text-white">About us</a>
                        <br>
                        <a href="#" class="text-white">Our services</a>
                        <br>
                        <a href="#" class="text-white">Stories</a>
                    </ul>
                </div>
                <div class="p-4 col-md-4">
                    <h2 class="mb-4">Contact</h2>
                    <p>
                        <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
                    </p>
                    <p>
                        <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
                    </p>
                    <p>
                        <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <p class="text-center text-white">© Copyright 2017 Pingendo - All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">
        Made with Pingendo&nbsp;&nbsp;
        <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
    </pingendo>
</body>
</html>