@model IEnumerable<ProjectCerberus.Models.Webhooks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h1><text>Webhook data is:</text> GenericWebhookHandler.GetWebHookData</h1>